#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.final {
  text-align: center;
  margin-top: 10rem;
  margin-right: 14rem;
  margin-left: 14rem;
  margin-bottom: 1rem;
}

.final_title {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.final .btn {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.final .btn:hover {
  color: var(--color-bg);
  background: var(--color-primary);
}

.rights{
  padding-top: 2rem;
}

.rights p {
  color: var(--color-white);
}

.mobile-sites {
  display: none;
}

@media (max-width: 768px) {
  .final {
    margin: 5rem 4rem;
  }

  .mobile-sites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    font-size: 45px;
  }

  .mobile-sites a {
    color: var(--color-primary);
  }
}
